{
  "presets": ["latest", "react", "stage-2"],
  "env": {
    "production": {
      "presets": ["react-optimize"],
      "plugins": [
        "dev-expression",
        "material-ui"
      ]
    },
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        "material-ui"
      ]
    }
  }
}
